                    <form class="jumbotron" novalidate ng-submit="$ctrl.register()">
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input ng-model="$ctrl.email" type="email" required id="email" name="email" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" ng-model="$ctrl.pwd" required id="password" name="password" class="form-control">
                        </div>
                        <input type="submit" id="submit" name="submit" value="Login" class="btn btn-lg btn-block btn-primary">
                    </form>