    <div class="row" style="background:#34495E;padding-top:10px" >
        <div class="col-md-2 form-group">
            <label style="color:white" >Search</label>
            <input class="form-control" ng-change="$ctrl.redirect(($ctrl.users|filter:$ctrl.search).length)" type="text" ng-model="$ctrl.search" placeholder="Search" >
        </div>
        <div class="col-md-2 col-md-offset-7 form-group">
            <label style="color:white" >Show Entries</label>
            <select class="form-control" id="options" ng-init="20" ng-change="$ctrl.validate()" ng-model="$ctrl.pageSize" >
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="60">60</option>
            </select>
        </div>
        <div class="col-md-1 form-group" style="padding-top:24px">
            <button class="btn form-control btn-primary pull-right pull-down" style="background:#2980B9" ng-click="$ctrl.viewField=true" ng-disabled="$ctrl.viewField" >Add Entry</button>
        </div>
    </div>
    <div style="padding-top:20px" ng-show="$ctrl.viewField">
        <div class="row">
            <div class="form-group col-md-2">
                <input type="text" class="form-control" required ng-model="$ctrl.userObject1.email" placeholder="Email">
            </div>
            <div class="form-group col-md-2">
                <input type="text" class="form-control" ng-model="$ctrl.userObject1.userName" placeholder="Username">
            </div>
            <div class="form-group col-md-2">
                <input type="text" class="form-control" ng-model="$ctrl.userObject1.password" placeholder="Password">
            </div>
            <div class="form-group col-md-4">
                <input type="text" class="form-control" ng-model="$ctrl.userObject1.accessToken" placeholder="Access Token">
            </div>
            <div class="col-md-1 form-group">
                <button class="btn btn-primary form-control" ng-click="$ctrl.add($ctrl.users.length)">Add</button>
            </div>
            <div class="col-md-1 form-group">
                <button class="btn btn-primary form-control" style="background:gray" ng-click="$ctrl.cancel1()">Cancel</button>
            </div>
        </div>
    </div>
    <div style="width:100%">
        <table class="table table-hover table-responsive" style="width:100%">
            <thead>
                <tr>
                    <th>
                        <a href=""><label>#</label></a>
                    </th>
                    <th>
                        <a ng-click="$ctrl.sortBy($ctrl.properties[0])" >Email</a>
                        <span class="glyphicon glyphicon-arrow-up pull-right" ng-show="$ctrl.propertyName===$ctrl.properties[0] && !$ctrl.reverse"></span>
                        <span class="glyphicon glyphicon-arrow-down pull-right" ng-show="$ctrl.propertyName===$ctrl.properties[0] && $ctrl.reverse"></span>
                    </th>
                    <th>
                        <a ng-click="$ctrl.sortBy($ctrl.properties[1])">Username</a>
                        <span class="glyphicon glyphicon-arrow-up pull-right" ng-show="$ctrl.propertyName===$ctrl.properties[1] && !$ctrl.reverse"></span>
                        <span class="glyphicon glyphicon-arrow-down pull-right" ng-show="$ctrl.propertyName===$ctrl.properties[1] && $ctrl.reverse"></span>
                    </th>
                    <th>
                        <a ng-click="$ctrl.sortBy($ctrl.properties[2])">Password</a>
                        <span class="glyphicon glyphicon-arrow-up pull-right" ng-show="$ctrl.propertyName===$ctrl.properties[2] && !$ctrl.reverse"></span>
                        <span class="glyphicon glyphicon-arrow-down pull-right" ng-show="$ctrl.propertyName===$ctrl.properties[2] && $ctrl.reverse"></span>
                    </th>
                    <th>
                        <a ng-click="$ctrl.sortBy($ctrl.properties[3])">Access Token</a>
                        <span class="glyphicon glyphicon-arrow-up pull-right" ng-show="$ctrl.propertyName===$ctrl.properties[3] && !$ctrl.reverse"></span>
                        <span class="glyphicon glyphicon-arrow-down pull-right" ng-show="$ctrl.propertyName===$ctrl.properties[3] && $ctrl.reverse"></span>
                    </th>
                    <th>
                        <a href=""><label>EDIT</label><label class="pull-right">DELETE</label></a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in $ctrl.users | filter : $ctrl.search | orderBy : $ctrl.propertyName : $ctrl.reverse | limitTo : $ctrl.pageSize : $ctrl.currentPage*$ctrl.pageSize">
                        <td> {{$ctrl.currentPage*$ctrl.pageSize+$index+1}} </td>
                        <td> 
                            <div ng-hide="$ctrl.index==user.index">{{user.email}}</div>
                            <div ng-show="$ctrl.index==user.index"><input type="text" class="form-control" ng-model="$ctrl.userObject.email" ></div> 
                        </td>
                        <td> 
                            <div ng-hide="$ctrl.index==user.index">{{user.userName}}</div>
                            <div ng-show="$ctrl.index==user.index"><input type="text" class="form-control" ng-model="$ctrl.userObject.userName" ></div> 
                        </td>
                        <td> 
                            <div ng-hide="$ctrl.index==user.index">{{user.password}}</div>
                            <div ng-show="$ctrl.index==user.index"><input type="text" class="form-control" ng-model="$ctrl.userObject.password" ></div> 
                        </td>
                        <td> 
                            <div ng-hide="$ctrl.index==user.index">{{user.accessToken}}</div>
                            <div ng-show="$ctrl.index==user.index"><input type="text" class="form-control" ng-model="$ctrl.userObject.accessToken" ></div> 
                        </td>
                        <td> 
                            <span ng-hide="$ctrl.index==user.index" class="pull-left glyphicon glyphicon-edit" ng-click="$ctrl.edit(user.index)" ></span>
                            <span ng-hide="$ctrl.index==user.index" ng-click="$ctrl.delete(user.index)" class="pull-right glyphicon glyphicon-remove"></span> 
                            <button ng-show="$ctrl.index==user.index" class="pull-left btn btn-primary" ng-click="$ctrl.update(user.index)" >Update</button>
                            <button ng-show="$ctrl.index==user.index" ng-click="$ctrl.cancel()" class="pull-right btn">Cancel</button> 
                        </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row" style="background:#34495E;padding-top:20px;padding-bottom:7px">
        <div class="col-md-3" style="padding-top:5px">
            <p style="color:white" class="align-right" ng-show="($ctrl.users|filter:$ctrl.search).length>0">Showing Results : {{$ctrl.currentPage*$ctrl.pageSize + 1 }} to {{ $ctrl.getLimit() }} of {{$ctrl.currentLength}} Entries
                <small style="color:white" ng-show="$ctrl.checkSearchBox()">(out of {{$ctrl.users.length}} total entries)</small>
            </p>
            <p style="color:white" class="align-right" ng-show="($ctrl.users|filter:$ctrl.search).length==0">Nothing Found</p>
        </div>
        <div class="col-md-2 col-md-offset-7">
            <div class="row" >
                <div class="form-group col-md-4">
                    <button ng-disabled="$ctrl.currentPage<=0" style="background:#2980B9" ng-click="$ctrl.currentPage=$ctrl.currentPage-1" class="btn btn-primary btn-block" >Previous</button>
                </div> 
                <div class="form-group col-md-3" style="padding-top:5px">   
                    <span style="color:white"  ng-show="$ctrl.totalPage()>0" class="text-center">{{$ctrl.currentPage+1}} / {{$ctrl.totalPage()}} </span><span style="color:white" ng-show="($ctrl.users|filter:$ctrl.search).length==0" class="text-center"> 0 / 0 </span>
                </div>
                <div class="form-group col-md-3">    
                    <button ng-disabled="$ctrl.check()" style="background:#2980B9" ng-click="$ctrl.currentPage=$ctrl.currentPage+1" class="btn btn-primary btn-block"  >Next</button>
                </div>    
            </div>
        </div>
    </div>